<head>
	 <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   

  <meta content="Bot multifuncional para ayudar a tu server" name="description">
  <meta content="endkachu" property="og:title">
  <meta content="Bot multifuncional para ayudar a tu server" property="og:description">
  <meta content="logos/logo.ico" property="og:image">
  <meta content="endkachu" property="twitter:title">
  <meta content="un bot multifuncional para ayudar a tu discord" property="twitter:description">
  <meta content="https://media.discordapp.net/attachments/988614407930146906/1011124096588853268/IMG_20220821_230527.png" property="twitter:image">
  <meta property="og:type" content="website">
  <meta content="#04D1CD" name="theme-color">
  <meta content="endkachu, endkachubot" name="keywords">


       <!----======== CSS ======== -->
    <link rel="stylesheet" href="/style.css">

	  <!----======== Bootstrap ======== -->
   <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
	<!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
      <!----===== Google CSS ===== -->
	<link href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap' rel='stylesheet'>
	
    <title>endkachu Bot</title>
    <link rel="Icon" href="logos/logo.ico"> 
</head>