<!DOCTYPE html>

<html lang="es">

	<% include partials/head.html  %>
		
<body class= "bg">


	<% include partials/navbar.html %>



    
		<section class="text-white texto">
      
					<h1 class="Name">endkachu</h1>
      <div class="Logo">
      			<img src="logos/endkachu.png" alt="Logo del bot" width="150" height="150" style="margin-top: 30px; " class="logo">
      </div>

              <div class="contenedor">
  
                <center>
                  <a class="btn btn-primary boton" href="https://discord.com/api/oauth2/authorize?client_id=924525977437077515&permissions=8&scope=applications.commands%20bot">Invitame</a>
                     <a class="btn btn-primary boton" href="https://discord.gg/tMw3FU6f">Discord </a>
               
                </center>

                <h2 class="Texto">Hola soy endkachu</h2>
                <p class="Texto">Un bot multifuncional que vino a discord para ayudar a tus servidores y mas que nada moderar divertir y entrener a los usuarios </p>
                      
              </div>
					
        
    </section>

    <section class="text-white texto" id="info">
        
          

      <div clasw="Text">
         
      
      <div class="card text-bg-secondary  mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/Info.png" class="img-fluid rounded-start" alt="Imagen deInformacion">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Información</h5>
        <p class="card-text">Un bot que viene a ayudar a tu servidor</p>
        <p class="card-text"><small class="text-muted">con comandos como música moderacion diversión utilidad etc</small></p>
      </div>
    </div>
  </div>
  </div>
         

        
					<br>

         <p class="Info-P">un bot para ayudar tu servidor</p>

      
           
        </div>
        
    </section>

    <section class="text-white texto" id="novedades">
        <div class="text">
          
         <h2 class="Name">Novedades</h1>

         <br>

         <h2>Aqui en esta parte se mencionan novedades en cuanto al bot ya sea en la pagina web o en los comandos o nombre del bot <br> <br> Novedades: </h2>

         <br>

         <p> 1. Pagina web mejorada <br> 2. Comando help de los comandos <br> 3. Comandos de musica <br> 4.  Simple warn <br> 5. Cambio de nombre</p>


         </div>

    </section>

    <section class="text-white texto" id="estadísticas ">
        <div class="text">
          
          <h1>Estadisticas</h1>

      <h2>Aqui hay estadisticas sobre el bot cuantos usuarios servers o lo que sea aqui esta :D</h2>

     <br>

      <p> Lenguaje: <br> Discord.jsv13 <br> Servidores: <br><%=  guild %><br> Creacion: <br> 27/12/2021 </p>
  
         </div>
    </section>

    <footer class="text-white">
     <h1>Hola</h1>
      
    </footer>

    <% include partials/script.html  %>

</body>
</html>