<!DOCTYPE html>

<html lang="es">

	<% include partials/head.html  %>
		
<body class= "bg">


	<% include partials/navbar.html %>



    
		<section class="text-white texto">
      
					<h1 class="Name">endkachu</h1>
      <div class="Logo">
      			<img src="logos/endkachu.png" alt="Logo del bot" width="150" height="150" style="margin-top: 30px; " class="logo">
      </div>

              <div class="contenedor">
  
                <center>
                  <a class="btn btn-primary boton" href="https://discord.com/api/oauth2/authorize?client_id=924525977437077515&permissions=8&scope=applications.commands%20bot">Invitame</a>
                     <a class="btn btn-primary boton" href="https://discord.gg/tMw3FU6f">Discord </a>
               
                </center>

                <h2 class="Texto">Hola soy endkachu</h2>
                <p class="Texto">Un bot multifuncional que vino a discord para ayudar a tus servidores y mas que nada moderar divertir y entrener a los usuarios </p>
                      
              </div>
					
        
    </section>

    <section class="text-white texto" id="info">
        
          

      <div class="Text">
         
      
      
        <h5 class="text-white">Información</h5>
			</br>
        <p class="text-white">Un bot que viene a ayudar a tu servidor</p>
        <p class="text-white">con comandos como música moderacion diversión utilidad etc</p>
				
        <img src="/Info.png" class="img-fluid" alt="Imagen de Información">
  </div>
         

        
				

         
      
           
        </div>
        
    </section>
	</br>
    <section class="text-white texto" id="novedades">
        <div class="text">
          
         <h5 class="Text">Novedades</h5>

         <br>

         
         <br>

         <p class="text-white"> 1. Pagina web mejorada <br> 2. Comando help de los comandos <br> 3. Comandos de musica <br> 4.  Simple warn <br> 5. Cambio de nombre</p>


         </div>

    </section>

    <section class="text-white texto" id="estadísticas ">
        <div class="text">
          
          <h5>Estadisticas</h5>

      
     <br>

      <p> Lenguaje: <br> Discord.js v14 <br> Servidores: <br><%=  guild %><br> Creacion: <br> 27/12/2021 </p>
  
         </div>
    </section>
		<div class="container-fluid">
    <div class= "row bg-dark p-4 text-white">
    
	
		
			<div class="col-xs-12 col-md-6 col-lg-3">
        <p class="text-white h3">endkachu</p>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<p class="h5">Redes</p>
			  <p><a class="text-white text-decoration-none" href="#">Discord</a></p>
			</div>
    
		</div>
		</div>
    <% include partials/script.html  %>

</body>
</html>